<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<display-name>spring_mvc</display-name>
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置Dispatcher(调度者)servlet -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!--实际上也可以不通过contextConfigLocation来配置 springmvc.xml文件，而使用默认的
				默认的配置文件为：<servlet-name>-servlet.xml
			 -->
			<!--初始化参数  -->
			<param-name>contextConfigLocation</param-name>
			<!-- resources文件夹classpath -->
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!--配置servlet处理的URL请求  -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<!--处理所有请求  -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>